<!DOCTYPE html>
<html>
<head>
  <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
</head>
<body>
  <h1>Sample App</h1>
  <p>
  I'm just a poor boy, from a poor family.
  </p>
</body>
</html>
